#search-merchant {
  border-radius: 7px;
  cursor: pointer;
  border-style: solid;
  /* background-color: aliceblue; */
  color: Black;
  height: 30px;
  font-size: 14px;
  width: 321px;
  border: 0.5px solid rgb(1, 1, 1);
}
#search-merchant:hover {
  font-size: 16px;
  transition-duration: 0.4s;
}
#merchant-page-header2 {
  background-color: #2a5179;
  display: flex;
  /* gap: 100px; */
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  padding: 8px;
}
#merchant-page-header1 {
  font-weight: bolder;
  text-align: center;
  /* padding-top: 12px; */
}
#search-btn {
  cursor: pointer;
  color: white;
  padding: 6px;
  margin-left: 3px;
  font-weight: 500;
  font-size: 13px;
}
#search-btn:hover {
  border-bottom: 2px solid white;
  font-size: 15px;
  transition-duration: 0.3s;
}
#add-product:hover {
  border-bottom: 2px solid white;
  font-size: 16px;
  transition-duration: 0.3s;
}
#all-products:hover {
  border-bottom: 2px solid white;
  font-size: 15px;
  transition-duration: 0.3s;
}
#add-product {
  cursor: pointer;

  color: white;
  margin-left: 80px;

  /* height: 21px; */
  padding: 6px;
  width: 106px;
  font-weight: 500;
  font-size: 14px;
}

#all-products {
  margin-right: 80px;

  cursor: pointer;

  color: white;
  /* height: 21px; */
  padding: 7px;
  width: 100px;
  font-weight: 500;
  font-size: 14px;
}

#logo {
  width: 48px;
  border-radius: 22px;
}

.searchMerch {
  display: flex;
  align-items: center;
  width: 512px;
}

#logout-from-merchant {
  cursor: pointer;

  color: white;
  /* margin-left: 80px; */

  /* height: 21px; */
  padding: 6px;
  width: 106px;
  font-weight: 500;
  font-size: 14px;
}
#logout-from-merchant:hover {
  border-bottom: 2px solid white;
  font-size: 15px;
  transition-duration: 0.3s;
}
