#my-form {
  font-weight: bold;
  background-color: rgb(42 81 121 / 3%);
  text-align: center;
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 20px;
  margin: auto;
  border-radius: 30px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0px -1px 20px 0px lightsteelblue;
}

.savebtn {
  background-color: #2a5179;
  font-weight: bold;
  color: aliceblue;
  width: 170px;
  border: 2px solid rgb(14, 13, 13);
  border-radius: 5px;
  height: 35px;
}

.add-new-prod-header {
  text-align: center;
  font-weight: bolder;
  /* padding: 23px; */
}
