#add-quantity {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 100px;
}
#btn {
  background-color: red;
}
#btn:hover {
  font-size: 21px;
  transition-duration: 0.3s;
  box-shadow: -1px 4px 0px rgb(96, 141, 200);
}
