#Add-new-btn {
  border-radius: 7px;
  cursor: pointer;
  color: Black;
  margin-left: 50px;
  padding: 6px;
  height: 90px;
  width: 190px;
  font-weight: 500;
  display: flex;
  font-size: 19px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 0.5px solid rgb(15, 15, 15);
  /* box-shadow: 0px -1px 20px 0px lightsteelblue; */
}
#Add-new-btn:hover {
  font-size: 21px;
  transition-duration: 0.3s;
  box-shadow: -1px 4px 0px rgb(120, 160, 211);
}
#Add-from-catalog-btn:hover {
  font-size: 21px;
  transition-duration: 0.3s;
  box-shadow: -1px 4px 0px rgb(96, 141, 200);
}

#Add-from-catalog-btn {
  border-radius: 7px;
  cursor: pointer;
  border-style: solid;
  color: Black;
  margin-left: 50px;
  padding: 6px;
  height: 90px;
  width: 190px;
  font-weight: 500;
  display: flex;
  font-size: 19px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 0.5px solid rgb(15, 15, 15);
  /* box-shadow: 0px -1px 20px 0px lightsteelblue; */
}

.add-catalog-btn {
  margin-top: 200px;
  margin-bottom: 200px;

  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
